#wrapper {
    text-align:center;
    border:5px solid white;
    border-radius: 10px;
    width:150px;
    height: 218px;
    margin:25px auto;
    padding:25px;
    /* background-color:#FEE715FF; */
  }
  #showCount {
    font:50px Tahoma bold;
    padding:20px;
    display:block;
    font-size: xx-large;
  }
  button {
    width:125px;
    padding:10px;
  }

  .btnDisable {
    background-color:#616247FF;
    border:3px solid white;
    color:white;
    /* padding: 18px; */
    cursor:wait;
    border-radius: 8px;
  }
  #note
  {
      color: white;
  }
  #btn_reset
  {
      display: none;
  }
