body{
  margin: 1rem;
  padding: 1rem;
}
section{
  width: 60vw;
}
/* le aside avec le compteur du score global */
#countDown{
  float: left;
}
#star_score{
  float:right;
  margin: 2rem;
}
/* les icons */
.fas{
  margin: 5rem;
  border: 1px solid #f1ddcf;
  border-radius: 5px;
}
.fas:hover{
  opacity: .9;
  scale: 1.5;
}
/* cacher les icons des nurriture et activités */
.some{
  visibility: hidden;
}

#yourSumScore{
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

/*FONTAWESOME*/
.fa-ice-cream{
  color:deeppink;
}

.fa-pepper-hot{
  color:red;
}
.fa-fish{
  color:blue;
}
.fa-carrot{
  color:orange;
}
.fa-pizza-slice{
  color:salmon;
}
.fa-baseball-ball{
  color:purple;
}
.fa-bed{
  color: green;
}
.fa-music{
  color:goldenrod;
}
/* nouvelle bar de progression test */
#myProgress,
#weightProgressBar,
#statusProgressBar{
  width: 50%;
  background-color: #ddd;
  height: 7vh;
  border-radius: .4rem;
}
#myBar,
#weightBar,
#statusBar{
  width: 3%;
  height: 7vh;
  background-color: #4CAF50;
  border-radius: .4rem;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);

body {
	background-color: #2f242e;
	margin: 0;
	padding: 0;
}

canvas {
    position: absolute;
    top: -222px;
    /* left: 100px; */
    left: -533px;
}

#canvas-number {
	width: 480px;
	height: 220px;
}
