body{
  margin: 1rem;
  padding: 1rem;
}
section{
  width: 60vw;
}
/* le aside avec le compteur du score global */
#countDown{
  float: left;
}
#star_score{
  float:right;
  margin: 2rem;
}
/* les icons */
.fas{
  margin: 5rem;
  border: 1px solid #f1ddcf;
  border-radius: 5px;
}
.fas:hover{
  opacity: .9;
  scale: 1.5;
}
/* cacher les icons des nurriture et activités */
.some{
  visibility: hidden;
}

#yourSumScore{
  width: 6vw;
  height: 12vh;
  border: 3px solid red;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}
/* progress bar */
#progress-bar-div{
  width: 20vw;
  float: right;
  margin: 2rem;
}
#mood-bar{
  height: 5vh;
  width: 0%;
  padding: 0;
  background-color: blue;
}
.progress{
  width: 25vw;
  height: 5vh;
  padding: 0;
}
#weight-bar{
  background-color: green;
  height: 5vh;
  width: 0%;
  padding: 0;
}
#status-bar{
  background-color: yellow;
  height: 5vh;
  width: 0%;
  padding: 0;
  }
/*FONTAWESOME*/
.fa-ice-cream{
  color:deeppink;
}

.fa-pepper-hot{
  color:red;
}
.fa-fish{
  color:blue;
}
.fa-carrot{
  color:orange;
}
.fa-pizza-slice{
  color:salmon;
}
.fa-baseball-ball{
  color:purple;
}
.fa-bed{
  color: green;
}
.fa-music{
  color:goldenrod;
}
/* nouvelle bar de progression test */
#myProgress,
#weightProgressBar,
#statusProgressBar{
  width: 100%;
  background-color: #ddd;
}

#myBar,
#weightBar,
#statusBar{
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);

body {
	background-color: #2f242e;
	margin: 0;
	padding: 0;
}

canvas {
    position: absolute;
    top: -222px;
    /* left: 100px; */
    left: -533px;
}

#canvas-number {
	width: 480px;
	height: 220px;
}
